<html>
<head>
	<title>Vue.js</title>
	<link rel="stylesheet" href="css/style.css" />
</head>
<body>
	<div id="app">

		<ojoven></ojoven>

		<!-- On Off -->
		<h2>Methods and v-if</h2>
		<div v-if="onOff">On</div>
		<div v-if="!onOff">Off</div>
		<button @click="toggleOnOff()">Toggle</button>

		<!-- LOOPS -->
		<br/><br/>
		<h2>Loops</h2>
		<input type="text" v-model="keyword" placeholder="Search JS framework">
		<div v-for="post in filteredList">
			<a v-bind:href="post.link">{{ post.link }}</a>
		</div>


		<!-- CONNECTION TO BACKEND -->
		<br/><br/>
		<h2>AJAX calls</h2>
		<button @click="getDataBackend()">Get Data Backend</button>
		<div>{{ backend }}</div>

		<!-- TRANSITION -->
		<br/><br/>
		<h2>TRANSITION</h2>
		<button v-on:click="show = !show">Transition</button>
		<transition name="fade">
			<p v-if="show">Hello!</p>
		</transition>

	</div>

	<script src="node_modules/vue/dist/vue.js"></script>
	<!--<script src="js/app.js"></script>-->
	<script src="js/games.js"></script>
</body>
</html>