<html>
<head>
	<title>Vue.js</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.min.js"></script>
</head>
<body>
	<div id="app">

		<!-- On Off -->
		<div v-if="onOff">On</div>
		<div v-if="!onOff">Off</div>
		<button v-on:click="toggleOnOff()">Toggle</button>

		<!-- LOOPS -->
		<br/><br/>
		<input type="text" v-model="keyword" placeholder="Search JS framework">
		<div v-for="post in filteredList">
			<a v-bind:href="post.link">{{ post.link }}</a>
		</div>

	</div>

	<script src="js/app.js"></script>
</body>
</html>